extends layout

block content

  h1 #{author.name}
  p #{author.lifespan}

  div(style='margin-top:20px')

    h4 Books

    each book in author_books
      div.card.bg-dark
        div.card-body
          a(href=book.url)
            h5.card-title #{book.title}
          h6.card-subtitle
            span #{book.summary}
    else
      p This author has no books.

    hr
    p
      a(href=author.url+'/delete') Delete Author
    p
      a(href=author.url+'/update') Update Author

