extends layout

block content
  h1 #{title}: #{book.title}

  if book_instances.length > 0

    div #[strong Delete the following book instances before attempting to delete this book.]

    div(style='margin-top:20px')

      h4 Books

      each val in book_instances
        div.card.bg-dark
          div.card-body
            a(href=val.url)
              h5.card-title #{val.imprint}
            h6.card-subtitle
              if val.status=='Available'
                span.text-success #{val.status}
              else if val.status=='Maintenance'
                span.text-danger #{val.status}
              else
                span.text-warning #{val.status}
              if val.status!='Available'
                span  (Due: #{val.due_back_formatted} )

  else
    p Do you really want to delete this Book?

    form(method='POST' action='')
      div.form-group
        input#bookid.form-control(type='hidden',name='bookid', required='true', value=book._id )

      button.btn.btn-primary(type='submit') Delete