extends layout

block content
  h1.mb-3 #{book.title}

  p #[strong Author:] 
    a(href=book.author.url) #{book.author.name}
  p #[strong Summary:] #{book.summary}
  p #[strong ISBN:] #{book.isbn}
  p #[strong Genre:] 
    each val, index in book.genre
      a(href=val.url) #{val.name}
      if index < book.genre.length - 1
        |, 

  div(style='margin-top:20px')
    h4 Copies

    each val in book_instances
      div.card.bg-dark
          div.card-body
            a(href=val.url)
              h5.card-title #{val.imprint}
            h6.card-subtitle
              if val.status=='Available'
                span.text-success #{val.status}
              else if val.status=='Maintenance'
                span.text-danger #{val.status}
              else
                span.text-warning #{val.status}
              if val.status!='Available'
                span  (Due: #{val.due_back_formatted} )

    else
      p There are no copies of this book in the library.
    
    hr
    p
      a(href=book.url+'/delete') Delete book
    p
      a(href=book.url+'/update') Update Book
