extends layout

block content

  h1 Genre: #{genre.name}

  div(style='margin-top:20px')

    h4 Books

    dl
      each book in genre_books
        div.card.bg-dark
          div.card-body
            a(href=book.url)
              h5.card-title #{book.title}
            h6.card-subtitle
              span #{book.summary}

      else
        p This genre has no books
    
    hr
    p
      a(href=genre.url+'/delete') Delete Genre
    p
      a(href=genre.url+'/update') Update Genre
