extends layout

block content
  h1= title
  p Welcome to #[em LocalLibrary], a basic Express website developed as a tutorial example on the Mozilla Developer Network.

  h1 Dynamic content

  p The library has the following record counts:

  div
    div.card.bg-dark
      div.card-body
        h5.card-title.m-0 Books: !{book_count}
    div.card.bg-dark
      div.card-body
        h5.card-title.m-0 Copies: !{book_instance_count}
    div.card.bg-dark
      div.card-body
        h5.card-title.m-0 Copies Available: !{book_instance_available_count}
    div.card.bg-dark
      div.card-body
        h5.card-title.m-0 Authors: !{author_count}
    div.card.bg-dark
      div.card-body
        h5.card-title.m-0 Genres: !{genre_count}
